#titleText {

}

#checkerboard {
    -fx-background-color: #ECD452;
    -fx-background-radius: 8;
    -fx-padding: 8;
}

#checkerboard Label {
    -fx-background-color: #9f8b3f;
    -fx-background-radius: 8;
    -fx-alignment: CENTER;
    -fx-font-size: 50;
    -fx-pref-width: 100;
    -fx-pref-height: 100;
}

#checkerboard #Num0 {
    -fx-background-color: #ccbcb4;
    -fx-text-fill: #ccbcb4;
}

#checkerboard #Num2 {
    -fx-background-color: #ebe0cb;
}

#checkerboard #Num4 {
    -fx-background-color: #eedab0;
}

#checkerboard #Num8 {
    -fx-background-color: #ffff00;
}

#checkerboard #Num16 {
    -fx-background-color: #f49463;
}

#checkerboard #Num32 {
    -fx-background-color: #f57b5e;
}

#checkerboard #Num64 {
    -fx-background-color: RED;
}

#checkerboard #Num128 {
    -fx-background-color: #f1d06b;
}

#checkerboard #Num256 {
    -fx-background-color: #ffffff;
}

#checkerboard #Num512 {
    -fx-background-color: #edc716;
}

#checkerboard #Num1024 {
    -fx-background-color: #e9c140;
}

#checkerboard #Num2048 {
    -fx-background-color: #aa89bb;
}

